body {
    /* reset the counter */
    counter-reset: my-counter;
}

pre.pre-code::before{
    counter-increment: my-counter;
    content: counter(my-counter) "  ";
}

#right-column {
float: left;
width: 50%;
display: block;
height:inherit;
}

#left-column {
float: left;
border: 1px;
width: 50%;
height:inherit;
}